{% extends "./base.html" %}

{% block content %}

      <script type="text/javascript" language="javascript">
function xKeyEvent(e){   //通用的兼容各个浏览器的响应键盘事件函数
//FUNCTION: do the EVENT of KEY
var e = e || window.event;  //事件处理
switch(e.keyCode | e.which | e.charCode)  //按键 ASCII 码值
    {
     case 190: //下方向键
          {


            $.get('/cho4',function( data ) {
                if (data<9){
                    beginRndNum(this)
                }
                else {
                    $('#overdown').html("四等奖已经全部产生");

                }
        });

          //...x operation...
          break;

          }

      //...default operation...
    //    case 33:
      //  {
        //    $('#ResultNum').html("")
        //}
           default:
    }
}
</script>
        <div id="web_bg" style="position:absolute; width:100%; height:100%; z-index:-1">
<img style="position:fixed;" src="/static/images/body_bg_5_k.png" height="100%" width="100%" />
</div>

{% if toolot %}
<div  class="con" style="font-size: 80px;padding-top: 100px;text-align: center;"><span id="overdown">四等奖</span></div>
    {% else %}
    <div  class="con" style="font-size: 80px;padding-top: 100px;text-align: center"><span id="overdown">四等奖已经全部产生</span></div>
    {% endif %}
<div class="wai" style="padding-top: 180px">

    <div class="bg"></div>
	<div class="con"><span id="ResultNum"></span></div>



</div>
{% if toolot %}

	 <div id="Button" style="width:100%;position:fixed;bottom: 15px;left:0;visibility: hidden">
	<input type='button' id="btn" value='开始' onclick='beginRndNum(this)'/>
</div>
    {% else %}
 <div id="Button" style="width:100%;position:fixed;bottom: 15px;left:0;visibility: hidden">
	<input type='button' id="btn" value='四等奖已经全部产生' disabled=True/>
</div>
        {% endif %}





<script type="text/javascript">
var g_Interval = 1;
var g_PersonCount = 99999999999;//参加抽奖人数
var g_Timer;
var running = false;
var userAll = {{ userlist|safe }};

var num = userAll.length - 1;
var oBtn = document.getElementById('btn');
var canck=true;

function beginRndNum(trigger){
    if (!canck)return;
	if(running){
		running = false;
        $(trigger).val("开始");
        $.get("/update4",  function( data ) {
            var cnum=data[data.length-1]["toolnum"];
            //alert(cnum);
            if (cnum<11) {
                if (cnum == 2) {
                    $('#ResultNum').html(data[0]["name"] + "</br>" + data[1]["name"]);


                    clearTimeout(g_Timer);


                }
                else if (cnum == 6) {

                    $('#ResultNum').html(data[0]["name"] + "</br>" + data[1]["name"] + "</br>" + data[2]["name"] + "</br>" + data[3]["name"]);
                    clearTimeout(g_Timer);
                }

                else {
                    $('#ResultNum').html(data[0]["name"] + "</br>" + data[1]["name"] + "</br>" + data[2]["name"] + "</br>" + data[3]["name"]);

                    clearTimeout(g_Timer);
                    $('#overdown').html("四等奖已经全部产生");
                    oBtn.value = 'OVER';
                    oBtn.disabled = true;

                }
                canck = false;
                setTimeout(function () {
                    canck = true;
                }, 10000);
            }
        });

    }
	else{
		running = true;
		$('#ResultNum').css('color','black');


		$(trigger).val("停止");
        $.get('/cho4',function( data ) {
            if (data<9){
                if (data==0){
                    beginTimer()
                }
                else if(data==2) {
                    beginTimer1()
                }
                else
                {beginTimer2()}
            }



        });

	}

}

function updateRndNum() {
    //alert(data);

    var randomVal = Math.round(Math.random() * num);
    var randomVal1 = Math.round(Math.random() * num);

    currentPerson = userAll[randomVal];
    currentPerson1 = userAll[randomVal1];

    $('#ResultNum').html(currentPerson.name + "</br>" + currentPerson1.name);
}

function updateRndNum2() {
    //alert(data);

    var randomVal = Math.round(Math.random() * num);
    var randomVal1 = Math.round(Math.random() * num);
    var randomVal2 = Math.round(Math.random() * num);
    var randomVal3 = Math.round(Math.random() * num);
    currentPerson = userAll[randomVal];
    currentPerson1 = userAll[randomVal1];
    currentPerson2 = userAll[randomVal2];
    currentPerson3 = userAll[randomVal3];

    $('#ResultNum').html(currentPerson.name + "</br>" + currentPerson1.name+ "</br>" + currentPerson2.name+ "</br>" + currentPerson3.name);
}
function updateRndNum1() {
    var randomVal = Math.round(Math.random() * num);
    var randomVal1 = Math.round(Math.random() * num);
    var randomVal2 = Math.round(Math.random() * num);
    var randomVal3 = Math.round(Math.random() * num);
    currentPerson = userAll[randomVal];
    currentPerson1 = userAll[randomVal1];
    currentPerson2 = userAll[randomVal2];
    currentPerson3 = userAll[randomVal3];



    $('#ResultNum').html(currentPerson.name+ "</br>" + currentPerson1.name+ "</br>" + currentPerson2.name+ "</br>" + currentPerson3.name);

}


function beginTimer(){
	g_Timer = setTimeout(beat(), g_Interval);
}
function beginTimer1(){
	g_Timer = setTimeout(beat1(), g_Interval);
}
function beginTimer2(){
	g_Timer = setTimeout(beat2(), g_Interval);
}

function beat(){
	g_Timer = setTimeout(beat, g_Interval);
	updateRndNum();
}
function beat1(){
	g_Timer = setTimeout(beat1, g_Interval);
	updateRndNum1();
}

function beat2(){
	g_Timer = setTimeout(beat2, g_Interval);
	updateRndNum2();
}

    </script>
{% endblock %}